.contactsBlockListItem {
  height: 60px;
  padding: 15px 20px;
  color: #cbcbcb;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #001329;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.contactsBlockListItem:not(:last-child) {
  margin-bottom: 1px;
}

.contactsBlockListItem:hover {
  transform: scale(0.95);
}
