body {
  margin: 0;
  max-width: 100vw;
  height: 100vh;
  border: 0;
  font-size: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #002047;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
